{% extends 'base.html.twig' %}
{% block body %}
	{% set toolbar_html %}
		<div class="dropdown">
			<button
					class="btn btn-sm btn-outline-light dropdown-toggle"
					type="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					style='min-width: 130px'
			>
				{{ language.name }}
			</button>
			<ul class="dropdown-menu dropdown-menu-dark">
				{% for language in languages %}
					<li>
						<a class="dropdown-item"
						   href="{{ path('manage_check_language', {'lang': language.code}) }}">
							{{ language.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endset %}
	<main class='section-manage-main'>
		{% include 'components/topbar.html.twig' with {toolbar: toolbar_html} %}
		<div class='manage-content'>
			<h2 class='manage-page-title'>Check holidays</h2>
			<div style='max-width: 700px; margin: 0 auto'>
				<form method='post'>
					{{ form_widget(checkForm._token) }}
					<label for='holidays' class='d-none'>Holidays</label>
					<textarea
							id='holidays'
							name='holidays'
							class='manage-input w-100 mb-3'
							rows='15'
							placeholder='One holiday per row, no commas.'
					></textarea>
					<input type='hidden' name='action' value='check'/>
					<button type='submit' class='btn btn-outline-light w-100'>
							<i class='bi bi-search me-2'></i>Check 'em all!
						</button>
				</form>
				{% if result is not empty %}
					<div class='table-responsive mt-4'>
						<table class="table table-dark table-striped table-hover align-middle">
							<caption>Results</caption>
							<thead>
							<tr>
								<th scope='col'>Name</th>
							</tr>
							</thead>
							<tbody>
							{% for holiday in result %}
								<tr>
									<td>{{ holiday }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
