{% extends 'base.html.twig' %}
{% block body %}
	<span class='heading my-5'>Welcome to creation UI!</span>
	<table class="table table-dark table-bordered">
		<caption>Translations</caption>
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Month</th>
			<th scope="col">Day</th>
			<th scope="col" class='w-25'>Name</th>
			<th scope="col" class='w-75'>Description</th>
			<th scope="col">Action</th>
		</tr>
		</thead>
		<tbody>
		{% for element in fixed_holidays %}
			{% set form_id = 'form-' ~ element.id %}
			<form id='{{ form_id }}' method='post'>
				<input type='hidden' name='action' value='update' form='{{ form_id }}'/>
				<input type='hidden' name='metadata_id' value='{{ element.id }}' form='{{ form_id }}'/>
			</form>
			<tr>
				<th scope="row">{{ element.id }}</th>
				<td>{{ element.month }}</td>
				<td>{{ element.day }}</td>
				<td>
					<label for='{{ 'name-' ~ element.id }}' class='d-none'>Name</label>
					<textarea
							style='min-height: 72px'
							name='name'
							class='w-100'
							form='{{ form_id }}'
							id='{{ 'name-' ~ element.id }}'
					>{{ element.name }}</textarea>
				</td>
				<td>
					<label for='{{ 'description-' ~ element.id }}' class='d-none'>Description</label>
					<textarea
							style='min-height: 72px'
							name='description'
							class='w-100'
							form='{{ form_id }}'
							id='{{ 'description-' ~ element.id }}'
					>{{ element.description }}</textarea>
				</td>
				<td><input type='submit' form='{{ form_id }}'></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<form id='create' method='post'>
		<input type='hidden' name='action' value='create' form='create'/>
	</form>
	<table class='table table-dark table-bordered'>
		<caption>Adding</caption>
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Month</th>
			<th scope="col">Day</th>
			<th scope="col" class='w-25'>Name</th>
			<th scope="col" class='w-75'>Description</th>
			<th scope="col">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">#</th>
			<td>
				<label for='month-create' class='d-none'>Month</label>
				<input
						required
						type='number'
						max='12'
						min='1'
						name='month'
						form='create'
						id='month-create'
				/>
			</td>
			<td>
				<label for='day-create' class='d-none'>Month</label>
				<input
						required
						type='number'
						max='31'
						min='1'
						name='day'
						form='create'
						id='day-create'
				/>
			</td>
			<td>
				<label for='name-create' class='d-none'>Name</label>
				<textarea
						required
						style='min-height: 72px'
						name='name'
						class='w-100'
						form='create'
						id='name-create'
				></textarea>
			</td>
			<td>
				<label for='description-create' class='d-none'>Description</label>
				<textarea
						style='min-height: 72px'
						name='description'
						class='w-100'
						form='create'
						id='description-create'
				></textarea>
			</td>
			<td><input type='submit' form='create'></td>
		</tr>
		</tbody>
	</table>
{% endblock %}
