{% extends 'base.html.twig' %}
{% block body %}
	<main class='section-manage-main'>
		{% include 'components/topbar.html.twig' %}
		<div class='container container-main py-5 px-5'>
			<span class='heading mt-3 mb-5'>Where do you start?</span>
			<div class='row g-4 justify-content-center pb-4'>
				<div class='col-lg-4 col-md-6'>
					<a
							href='{{ path('manage_create') }}'
							class='tile tile-action no-a d-flex flex-column align-items-center text-center p-4'
					>
						<i class='bi bi-pencil-square tile-icon'></i>
						<span class='tile-title'>Holidays</span>
						<span class='tile-desc'>Write descriptions and add new holidays.</span>
					</a>
				</div>
				<div class='col-lg-4 col-md-6'>
					<a
							href='{{ path('manage_polls_index') }}'
							class='tile tile-action no-a d-flex flex-column align-items-center text-center p-4'
					>
						<i class='bi bi-bar-chart-line tile-icon'></i>
						<span class='tile-title'>Polls</span>
						<span class='tile-desc'>Manage polls and view results.</span>
					</a>
				</div>
				<div class='col-lg-4 col-md-6'>
					<a
							href='{{ path('manage_reports') }}'
							class='tile tile-action no-a d-flex flex-column align-items-center text-center p-4'
					>
						<i class='bi bi-flag tile-icon'></i>
						<span class='tile-title'>Reports</span>
						<span class='tile-desc'>View user suggestions and error reports.</span>
					</a>
				</div>
				<div class='col-lg-4 col-md-6'>
					<a
							href='{{ path('manage_check') }}'
							class='tile tile-action no-a d-flex flex-column align-items-center text-center p-4'
					>
						<i class='bi bi-check2-circle tile-icon'></i>
						<span class='tile-title'>Check</span>
						<span class='tile-desc'>Verify holidays against the database.</span>
					</a>
				</div>
				<div class='col-lg-8 col-md-12'>
					<div class='tile p-4'>
						<div class='d-flex align-items-center justify-content-center gap-2 mb-3'>
							<i class='bi bi-translate' style='color: #6060aa; font-size: 20px'></i>
							<span class='tile-title'>Translate</span>
						</div>
						<div class='row g-3 justify-content-center'>
							{% for language in languages %}
								{% if language.code != 'pl' %}
									<div class='col-lg-3 col-md-4 col-6'>
										<a href='/manage/translate?from=pl&to={{ language.code }}'
										   class='language no-a d-block text-center py-3'>
											{{ language.name }}
										</a>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
